<a href="https://colab.research.google.com/github/astti14/pyth225/blob/master/HW_Asta_Galinyte_loop_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LOOPS

## BASICS

### P1.PY

In [0]:
"""
Odds & Evens
"""

# Use a loop to make a list of all odd numbers between 1 and 10 and another list 
# with all the evens. When done, print the lists.

# odds = 

# evens = 

print('PLEASE SEE BELOW')

PLEASE SEE BELOW

In [0]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

b = []
c = []
for number_y in a:
  if number_y % 2 == 0:
    b.append(number_y)
  else:
    c.append (number_y)
print (f'Evens: {b}')
print (f'Odds: {c}')

Evens: [2, 4, 6, 8, 10]
Odds: [1, 3, 5, 7, 9]



### P2.PY

In [0]:
"""
Lists with Duplicates
"""

# First, print list a below as it is now.

a = [2, 4, 10, 20, 5, 2, 20, 4]
b = [13, 2, 25, 20, 4, 8]
a = sorted (a)
b = sorted (b)

# Using a loop, remove the duplicate items from list a and print out the updated list.


# Using a loop, merge list b into list a without adding any duplicates.
print (a)
print (b)
index = 0
d = a[index]
print (d)
c = []
while a.count (d) > 1:
  a.remove(d)
  index = index + 1
  d = a[index]

m = b[index]
while b.count (m) > 1:
  b.remove (m)
  index = index + 1
  m = b[index] 

print (a)
print (b)

new_lis = list (a + b)
print (new_lis)
new_set = set (new_lis)
print (new_set)

[2, 2, 4, 4, 5, 10, 20, 20]
[2, 4, 8, 13, 20, 25]
2
[2, 4, 5, 10, 20, 20]
[2, 4, 8, 13, 20, 25]
[2, 4, 5, 10, 20, 20, 2, 4, 8, 13, 20, 25]
{2, 4, 5, 8, 10, 13, 20, 25}



### P3.PY

In [0]:
"""
Temperature Conversions
"""

# You're studying climate change, and over the last 3 years, you've recorded the
# temperature at noon every day in degrees Fahrenheit (F). The var sampleF holds a portion of those recordings. 

sampleF = [71.6, 82.4, 91.4, 107.6, 125.6]

# Convert each item in this list into degrees Celsius and 
# add the results to a dict called sample_temps so that the 
# conversion of each day's temperature is easily accessible. For reference, the conversion equation between F and C is:
# Celsius = (Fahrenheit - 32) * 5.0/9.0


# sample_temps = 
new_list=[]
for i in sampleF:
  i = (i - 32) * 5.0 / 9.0
  print(int(i))
  new_list.append(int(i))
  
print (new_list)
sample_temps = set (new_list)
print (sample_temps)

21
28
33
42
52
[21, 28, 33, 42, 52]
{33, 42, 52, 21, 28}

### P4.PY

In [0]:
"""
Control Flow - I

Print the numbers in some range until you find a multiple of 7. 
At that point, print "___ is the first multiple of 7 in this 
range." If the range does NOT include any multiples of 7, after 
you've printed the last number in the range, print "There are 
no multiples of 7 in this range.
"""

x = range (1,15)
y = []
for i in x:
  print (i)
  if i % 7 == 0:
    y.append (i)
print (f'{y[0]} is the first multiple of 7 in this range') 
print (f' List of multiples of 7 is {y}')
if len(y) == 0:
  print ("There are no multiples of 7 in this range")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
7 is the first multiple of 7 in this range
 List of multiples of 7 is [7, 14]



### P5.PY

In [0]:
"""
Control Flow II

Write a Python program that prints all the numbers from 
0 to 6 except 3 and 6. Note: Use a 'continue' statement. 
"""


a = range (0,7)
for number in a:
  if number == 3 or number == 6:
    continue
  print(number)
print('Done.')

0
1
2
4
5
Done.

## FACTORS



### P1.PY

In [0]:
"""
Factorial
"""

# Find the factorial of a number input by a user. Then print out the factors 
# within the factorial and then print out the actual numeric answer. Hint: The formula for a factorial is n! = (n-1)*n.


# Example output:
"""
8! = 8*7*6*5*4*3*2*1
8! = 40320
"""
# y = print (input('Enter a number to find its factorial: '))
n = 3
lis = []
lis.append (n)
while n-1 > 0:
  lis.append (n-1)
  n -=1
print (lis)
y = max (lis)
# print (y)
for i in lis:
  # print(i)
  if i == 2:
    continue
  i = i * (i-1)
  # print (i)
  # b = i * (i-1)
  # c = b
  print(i)
    # i -=1 
    # print (i)

[3, 2, 1]
6
3
0



### P2.PY

In [0]:
"""
Factors
"""

# Find all factors of a number that a user inputs and print out 'The factors of <the_user_input_number> are: '.

# user_input = input('Enter a number to find its factors: ')
# int(input())
n = int (input('Enter a number to find its factors: '))
print (n)
lis = []
lis.append (n)
while (n-1) > 0:
  lis.append (n-1)
  n -=1
  
print (lis)

Enter a number to find its factors: 10
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]



### P3.PY

In [0]:
"""
GCD
"""

# Find the greatest common denominator (GCD) of two number input by a user. Then 
# print out 'The GCD of <first number> and <second number> is <your result>.'

print('Enter two numbers to find their greatest common denominator.')

n = int( input('First number: '))
m = int (input('Second number: '))

print (n)
lisn = []
lisn.append (n)
while (n-1) > 0:
  lisn.append (n-1)
  n -=1
# print (lisn)

print (m)
lism = []
lism.append (m)
while (m-1) > 0:
  lism.append (m-1)
  m -=1
# print (lism)
max_lisn = max (lisn)
max_lism = max (lism)
# print (max_lisn)
# print (max_lism)
g = lisn + lism
g.sort ()
# print (g)
a = set (g)
if max_lisn > max_lism:
   a = max_lism
else:
  a = max_lisn
# print (a)

print (f'The GCD of {max_lisn} and {max_lism} is {a}')

Enter two numbers to find their greatest common denominator.
First number: 15
Second number: 5
15
5
The GCD of 15 and 5 is 5

## SHAPES

### P1.PY

In [0]:
"""
Build a Triangle I 

Use a FOR loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""
max_ = 6
for i in range (1,6):
  # print(i)
  diff = max_ - i
  right = [" "] * diff
  stars = ["*"] * i
  # print (right, stars)
  print ("".join (stars) + "".join (right))

*
**
***
****
*****

### P2.PY

In [0]:
"""
Build a Triangle II

Use a WHILE loop to print a triangle of stars that looks like this:

*
**
***
****
*****

"""

a = 1
while a < 6:
  # print(i)
  diff = a + 1
  right = [" "] * diff
  stars = ["*"] * a
  # print (right, stars)
  print ("".join (stars) + "".join (right)) 
  a += 1

*
**
***
****
*****



### P3.PY

In [0]:
"""
Build a Pyramid I

Use a FOR loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
max_ = 10
for i in range (1,10,2):
  # print(i)
  diff = (max_ - i)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * i
  # print (right, stars)
  print ("".join (left) + "".join (stars) + "".join (right))

    *
   ***
  *****
 *******
*********

### P4.PY

In [0]:
"""
Build a Pyramid II

Use a WHILE loop to print a pyramid of stars that looks like this:

    *
   ***
  *****
 *******
*********

"""
a = 1
while a < 10:
  # print(i)
  diff = (10 - a)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * a
  # print (right, stars)
  print ("".join (left) + "".join (stars) + "".join (right)) 
  a += 2

    *
   ***
  *****
 *******
*********



### P5.PY

In [0]:
"""
Build a Diamond I

Use a FOR loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""

max_ = 10
for i in range (1,10,2):
  # print(i)
  diff = (max_ - i)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * i
  # print (right, stars)
  print ("".join (left) + "".join (stars) + "".join (right)) 

lis_b = [1, 3, 5, 7, 9]
lis_b.sort (reverse = True)
maxb = max (lis_b)
for i in lis_b:
  # print(i)
  diff = (maxb - i)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * i
  # print (right, stars)
  lis = ("".join (left) + "".join (stars) + "".join (right)) 
  print (lis)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

### P6.PY

In [0]:
"""
Build a Diamond II

Use a WHILE loop to print a diamond of stars that looks like this:

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
"""
a = 1
while a < 10:
  # print(i)
  diff = (10 - a)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * a
  # print (right, stars)
  print ("".join (left) + "".join (stars) + "".join (right)) 
  a += 2
  
b = 9
while b > 0:
  # print(i)
  diff = (9 - b)
  right = [" "] * int (diff/2)
  left = [" "] * int (diff/2)
  stars = ["*"] * b
  # print (right, stars)
  print ("".join (left) + "".join (stars) + "".join (right)) 
  b -= 2

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

## LOOP_CHALLENGES

### P1.PY

In [0]:
"""
Valid Passwords
"""

# Check the validity of password input by users based on the below security 
# requirements: At least 1 letter between [a-z] and 1 letter between [A-Z].
"""
# At least 1 letter between [a-z] and 1 letter between [A-Z].
#At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.
"""
# Hint: Look up the documentation for the "re" library and it's ".search()" method.
# p = input("Input your password: ")

user_input = '9 maggie'
import re
patterns1 = ['1','2','3','4','5','6','7','8','9','$','#','@','a','b','z','A', 'B','Z']
# print (patterns1)
matches = []
no_matches = []
for i in patterns1:
  # print (i)
  if re.search (i,user_input):
    matches.append (i)
    # print ('match')
    if len (matches) > 0:
      # print ('Pasword is valid')
      no_matches.append (i)
    else:
      print ('Password is not valid')



### P2.PY

In [0]:
"""
Prime Numbers I
"""

# Check if a number input by a user is prime or not. If it is NOT a prime number, 
# print out that it is not a prime number. If it IS a prime number, print out 
# that it is a prime number and give an example of two of its factors. Hint: Prime numbers must be greater than 1.

# Example of output for a NON-prime:
# 12 is not a prime number
# For example, 2 x 6 = 12
# user_input = input("Enter a number to check if it's prime: ")

i = int (10)
if i % 2 = 0 or i % = 0 or 
  print (f'{i} is not a prime number')