<a href="https://colab.research.google.com/github/astti14/pyth225/blob/master/HW_Asta_Galinyte_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
lis = ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
print (lis)
  #       0           1         2        3            4
# Print the 4th animal on the list.
print (lis[3])

# Add 'tortoise' to the beginning of the list.

new_animal = ('tortoise')
lis.append(new_animal)
# print(lis1)

lis.insert (0,'tortoise')
print (lis)
# Print the length of the list.
print(len(lis))

# Remove 'orangutan' from the list.
lis.pop(4)
print(lis)

lis[0]=('')
print(lis)
# Sort the list alphabetically and print it out.

['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin', 'tortoise']
7
['tortoise', 'elephant', 'tiger', 'otter', 'penguin', 'tortoise']
['', 'elephant', 'tiger', 'otter', 'penguin', 'tortoise']



### P2.PY

In [0]:
# Declare a list with 5 names, and print out the length of that list.
names = ['Alex', 'Mimi', 'Mike', 'Maria', 'Rita']
print (len(names))

# Print the 3rd name on the list
print (names[2])

# Delete the first name on the list
# names.pop(0)
print(names.pop(0))
# names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list
names.insert(4,'Alex')
# names.append ('Alex')
print(names)

# Replace the 2nd name on the list with a new name.
names[1]='Nick'
print(names)

# Add 3 new names to the end of the list.
names[5:]=['John','Ted','Leo']
print (names)
# print(names[-1])
# print(names[-2])
# print(names[:-2])
# print(names[2:])
# print(names[2:3])

5
Mike
Alex
['Mimi', 'Mike', 'Maria', 'Rita']
['Mimi', 'Mike', 'Maria', 'Rita', 'Alex']
['Mimi', 'Nick', 'Maria', 'Rita', 'Alex']
['Mimi', 'Nick', 'Maria', 'Rita', 'Alex', 'John', 'Ted', 'Leo']



### P3.PY

In [0]:
"""
Math Operations
"""
# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.
numbers = [2,4,6,8]
print(numbers)
# Print the max of `numbers`.
max_number = max(numbers)
print (max_number)
# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.
last_number = numbers.pop(-1)

print(numbers)
numbers.insert (2,last_number)
print (numbers)
# Pop the second number in `numbers` off.

numbers.pop(1)
print (numbers)
# Append `3` to `numbers`.

numbers.append(3)
print(numbers)
# Print out the average number.
x = len(numbers)
y = sum(numbers)
print (x,y)
average = y / x
print (average)

[2, 4, 6, 8]
8
[2, 4, 6]
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4 19
4.75



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""
# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.
playlist_titles.sort()
srt_list = sorted (playlist_titles)
print (playlist_titles)
print (srt_list)


# Now do the reverse.
playlist_titles.sort(reverse=True)
srt_list = sorted (playlist_titles, reverse=True)
print (playlist_titles)
print (srt_list)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

numbers = [3,6,1,7,2,10]
numbers.sort(reverse=True)
descend = sorted (numbers, reverse=True)
print(numbers)
print(descend)

[10, 7, 6, 3, 2, 1]
[10, 7, 6, 3, 2, 1]

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
y = cell.split('.')
print (cell)
print (y)
b = ''.join(y)
print (b)

1.192.168.0143
['1', '192', '168', '0143']
11921680143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]
my_sum = sum(nums)
print (my_sum)
my_min = min(nums)
print(my_min)
my_max = max (nums)
print(my_max) 
my_range = range (my_min, my_max)
print(my_range)
my_mean = sum (nums) / len (nums)
print(my_mean)
# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

174
2
30
range(2, 30)
17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

# list1, list2 = [2, 8, 6], [10, 4, 12]
# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list 1 = [2,8,6]
print (list1)
list_1 = list1[:]
print (list_1)
list3 = list1.append (list_1)
print (list3)

# x = list1, list2
# y = list (x)
# print(x)
# # print(list(x))
# b = y.pop (0)
# c = list (b)
# print (c)
# x.join(c)
# print (y)
# # y = list3.append ([2,8,6])
# # y=1
# # y += 1
# # print(y)
# # print(list1, list2)
# # list3 = None


# B) Combine the two given lists and assign them to list4.
# list4 = None


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
# list3[:2] = None

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
# list5 = None


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6]
[2, 8, 6]
None



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]
cool_runnings [cool_runnings.index ('bobsled')] = 'YOLO'
print (cool_runnings)
sentence = ' '.join (cool_runnings)
print (sentence)
sentence.split ('.')
print (f'.split(): {sentence}\n')

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']
Feel the rhythm. Feel the rhyme. Get on up. It's YOLO time!
.split(): Feel the rhythm. Feel the rhyme. Get on up. It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]
# a = list1[:]
# b = list1[:]
# c = list1[:]
# x = tuple1[:]
# y = tuple1[:]
# z = tuple1[:]
# a = list1.pop()
# b = list1.pop()
# c = list1.pop()
# d = list1.pop()
# e = list1.pop()
# f = list1.pop()
g = tuple1.pop()
h = tuple1.pop()
l = tuple1.pop()
# print (a,b,c,d,e,f,g,h,l)
list1.insert(1,g)
list1.insert(3,h)
list1.insert(5,l)
print(list1)
# list1.insert(tuple1)
# print(list1)

[6, (1, 8), 12, (6, 2), 9, (15, 3), 4, 10, 1]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard
# deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]
sample.sort()
print (sample)
y = [sample.count (sample[0]), sample.count (sample[1]),sample.count (sample[2]),sample.count (sample[3]),sample.count (sample[4]),sample.count (sample[5]),sample.count (sample[6]),sample.count (sample[7]),sample.count (sample[8]),sample.count (sample[9])]
print (y)
z = y.index (max(y))
my_mode = sample [z]
print(my_mode)
my_mean = sum (sample) / len (sample)
print (my_mean)
b = int((len (sample) / 2)+ 1 )
print (b)
if len(sample) %2 != 0:
 my_median = sample[b]
else:
 my_median = (sample[b] + sample[b-1])/2
print (my_median)
print (sample)
variance1 = int ((my_mean - sample[0])**2 + (my_mean - sample[1])**2 + (my_mean - sample[2])**2 + (my_mean - sample[3])**2 + (my_mean - sample[0])**2 + (my_mean - sample[0])**2)
variance2 = (variance1) / len (sample)
import math as m
stdeviation = int (m.sqrt (variance2))

# print (variance1, variance2, stdeviation)
	# my_mode = 
	# my_variance = 
	# my_sd = 

# Once you finish, print out each value **on its own line** in this format: "median = " etc.
print(f'mean = {my_mean}')
print(f'median = {my_median}')
print(f'mode = {my_mode}')
print(f'variance = {variance2}')
print(f'standard deviation = {stdeviation}')

[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]
[2, 2, 1, 1, 1, 1, 1, 1, 1, 1]
6
17.8
6
22.0
[6, 6, 8, 12, 19, 20, 24, 25, 28, 30]
mean = 17.8
median = 22.0
mode = 6
variance = 68.6
standard deviation = 8