<a href="https://colab.research.google.com/github/astti14/pyth225/blob/master/HW_Asta_Galinyte_dict_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  DICTS

## BASICS

### P1.PY

In [0]:
"""
Intro to Dict Concepts
"""
# A) Declare an empty dict as d1.

d1 ={}
d2 = dict()
# B) Create a dict called d2 containing the first and last names below:
# Anthony Paollelo, Ping Qiao, Enrique Alvarez, Arjun Dhir 

d1.update({'Anthony':'Paollelo','Ping':'Qiao', 'Enrique':'Alvarez', 'Arjun':'Dhi'})
d2 =dict (Anthony='Paollelo', Ping='Qiao', Enrique='Alvarez', Arjun='Dhi')
print (d1)
print (d2)
# C) Add Allison Zhang person to d2.

d2 = d1
d1.update ({'Allison':'Zhang'})
print (d2)
# D) How many people are now in d2? Print out all their *first* names in the vars below.

num_people = len (list (d2))
first_names = d2.keys() 
print (num_people)
print (first_names)

# E) Delete a random person from d2 and print his/her name in the var below.
x = d2.popitem()
print (x) 

# x = list (x)
# x = set (x)
# print (x)
# print (type (x))

# F) Re-add the name you deleted to the end of d2.

# Do not know how to add these keys back to the dict as it is in tuple format?..

{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhi'}
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhi'}
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhi', 'Allison': 'Zhang'}
5
dict_keys(['Anthony', 'Ping', 'Enrique', 'Arjun', 'Allison'])
('Allison', 'Zhang')
ERROR! Session/line number was not unique in database. History logging moved to new session 60



### P2.PY

In [0]:
"""
Predators & Prey
"""

# A) Create a dict called "pred_prey", containing:
### 3 carnivorous marine animals
### For each carnivore, 3 examples of its prey

pred_prey = {
    'seal': ['shrimps', 'crabs', 'lobsters'],
    'dolphin': ['fish', 'mussels', 'clams'],
    'walruse':['octopus', 'squid', 'mollusks']
    }



# B) Print out the 2nd predator and its prey in this format:
#### predator2: prey1, prey2, & prey3

pred_keys = list (pred_prey.keys())
pred_values = list (pred_prey.values())
print (pred_keys, pred_values)
print(f'{pred_keys[1]}:{pred_values[1][0:3]}')
  
# C) Print a unique collection of all the prey in a variable called "prey".
prey = pred_values
print (prey)

How to take off the sub-brackets in the new list?

['seal', 'dolphin', 'walruse'] [['shrimps', 'crabs', 'lobsters'], ['fish', 'mussels', 'clams'], ['octopus', 'squid', 'mollusks']]
dolphin:['fish', 'mussels', 'clams']
[['shrimps', 'crabs', 'lobsters'], ['fish', 'mussels', 'clams'], ['octopus', 'squid', 'mollusks']]



### P3.PY

In [0]:
"""
Merging Dicts
"""

# Merge these two dicts without creating a new one.

d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400, 'e': 500}

d1.update (d2)
print (d1)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}



### P4.PY

In [0]:
"""
Lists to Dicts
"""

# Turn these two lists into a dict called grades.

names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

grades = dict (zip(names, scores))
print (grades)

{'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}

## DICT MANIPULATION

### P1.PY

In [0]:
"""
Basic Login
"""

# Imagine you work for a movie streaming service. You're in charge of 
# safeguarding user privacy by ensuring the login feature remains secure. 
# For the sake of example only, below is the dict of user login info. Normally, 
# you wouldn't have access to see this unencrypted of course!

users = {
	'person@email.com': 'PassWord',
	'someone@email.com': 'hiitsme',
	'me@email.com': 'myPassword',
	'anyone@email.com': 'IMawesome',
	'guy@email.com': 'pa$$wordz'
	# etc
}
# A user enters the below login info (email and password) for your app.
# 
#  Search your database of user logins to see if this account exists and if the
#  password matches what you have on file. If the login credentials are correct,
#  print "Successful login!". Otherwise, print "The login info you entered does not match any of our records."


current_user = { 'me@email.com': 'myPassword' }
user_input = list (current_user)
check_password = users.get ('me@email.com',[])
print (check_password)
if (len (check_password)) > 0:
	print ('user is valid')
else:
	print ('user is not valid')

password_entered = current_user.get (user_input[0],[])
password_in_database = users.get (user_input[0],[])
if password_entered == password_in_database:
	print ('Successful login!')
else:
	print ('The login info you entered does not match any of our records.')

myPassword
user is valid
Successful login!
ERROR! Session/line number was not unique in database. History logging moved to new session 61



### P2.PY

In [0]:
"""
Math with Girl Scout Cookies
"""
Wendy = {'tagalongs': 5, 'thin mints': 12, 'samoas': 8}
Connie = {'tagalongs': 10, 'thin mints': 4, 'samoas': 12}
Francesca = {'tagalongs': 18, 'thin mints': 14, 'samoas': 10}

# Print out the number of boxes of girl scout cookies that each girl in the troop sold in the below format:
	# Wendy: _____
	# Connie: _____
	# Francesca: _____ )
lisw =[]
lisc = []
lisf = []
for key, value in Wendy.items ():
	lisw.append (value)
	totalw = sum (lisw)

for key, value in Connie.items ():
	lisc.append (value)
	totalc = sum (lisc)

for key, value in Francesca.items ():
	lisf.append (value)
	totalf = sum (lisf)
print (f'Wendy: {totalw}\nConnie: {totalc}\nFrancesca: {totalf}')


# For each type of girl scout cookie, print out the total number of boxes sold in the below format:
# lis = []
# lis = list (Wendy) + list (Connie)
# print (lis)
tagalongs = Wendy.get('tagalongs',[]) + Connie.get('tagalongs',[]) + Francesca.get('tagalongs',[])
thin_mints = Wendy.get('thin mints',[]) + Connie.get('thin mints',[]) + Francesca.get('thin mints',[])
samoas = Wendy.get('samoas',[]) + Connie.get('samoas',[]) + Francesca.get('samoas',[])

print (f'Total tagalongs: {tagalongs}\nTotal thin mints: {thin_mints}\nTotal samoas: {samoas}')

# For each type of girl scout cookie, print out the average number of boxes sold in the below format:

avg_tagalongs = (Wendy.get('tagalongs',[]) + Connie.get('tagalongs',[]) + Francesca.get('tagalongs',[])) / 3
avg_thin_mints = (Wendy.get('thin mints',[]) + Connie.get('thin mints',[]) + Francesca.get('thin mints',[])) / 3
avg_samoas = (Wendy.get('samoas',[]) + Connie.get('samoas',[]) + Francesca.get('samoas',[])) / 3

print (f'Average tagalongs: {avg_tagalongs}\nAverage thin mints: {avg_thin_mints}\nAverage samoas: {avg_samoas}')

# Print out total the number of boxes of cookies the girls sold collectively as follows:

print (f'This year we sold {tagalongs + thin_mints + samoas} boxes!')

Wendy: 25
Connie: 26
Francesca: 42
Total tagalongs: 33
Total thin mints: 30
Total samoas: 30
Average tagalongs: 11.0
Average thin mints: 10.0
Average samoas: 10.0
This year we sold 93 boxes!



### P3.PY

In [0]:
"""
Inverting Keys & Values
"""

# Invert dict1 - make the current keys into values and the current values into keys.


dict1 = { "k1" : "v1", "k2" : "v2", "k3" : "v1" }
inverted_dict1 = dict(map(reversed,dict1.items()))
print (inverted_dict1)

{'v1': 'k3', 'v2': 'k2'}

## DICT LOOPS

### P1.PY

In [0]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text updates from your
#  startup. Go through this dict to make the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1758',
	'Brandon': '1.935.297.9447',
	'Monique': '1.702.716.5353',
	'Sohom': '1.576.619.6100',
}

for k, v in contacts.items():
	contacts_m = {k: v.replace('.','')}
	print(contacts_m)
	
# HOW TO STRIP?

{'Jamie': '11921680143'}
{'Kartik': '18372091121'}
{'Grant': '18263861758'}
{'Brandon': '19352979447'}
{'Monique': '17027165353'}
{'Sohom': '15766196100'}



### P2.PY

In [0]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.

for k, num_grades in students.items():
  num_grades = sum (num_grades) / len (num_grades)
  print (f'Average grades {k}: {num_grades}') 



# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. Use A, B, C, D, and F as grades per the standard grading scale.

# letter_grades = 



# p 1.3) Create a list of honor roll students (i.e. students who got A's).

# honor_roll



### P3.PY

In [0]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. You're evaluating your pricing to make sure it's up to date with the latest costs of making each menu item (see the menu prices and costs dicts below). Evaluate whether each item's price returns a profit margin of at least $1.00. If it doesn't, update the menu_prices dict with a new price that gives the item a $1.00 profit margin. Then print out the items which you've repriced in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}

menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}

# price_increases =

## COUNTERS CHALLENGE

### P1.PY

In [0]:
"""
Word Frequency
"""

# Print out the number of words in this movie quote. Find and print out the most common word in the quote and how many times it was used.
### Hint: You do not need a loop for this. Look up the Counter docs in python3.

from collections import Counter

princess_bride = [
'Hello', 'my', 'name', 'is', 'Inigo', 'Montoya',
'You', 'killed', 'my', 'father',
'Prepare', 'to', 'die'
]

cnt = Counter ()
for word in princess_bride:
  cnt [word] +=1
print (cnt)
print (Counter(princess_bride).most_common (1))


# p.s. You might use this to help analyze the most common topic in comments or reviews from your users to help understand the best places to improve you product.

Counter({'my': 2, 'Hello': 1, 'name': 1, 'is': 1, 'Inigo': 1, 'Montoya': 1, 'You': 1, 'killed': 1, 'father': 1, 'Prepare': 1, 'to': 1, 'die': 1})
[('my', 2)]



### P2.PY

In [9]:
"""
Summing Dict Values
"""

# Two Kindergarten teachers poll their classes for what fruit they want to eat 
# for snacktime tomorrow. Only one of them is going shopping, so she needs to 
# know how many of each fruit she needs to buy in total. Tally these up and assign them to the "shopping_list" dict.

poll1 = {'apples': 8, 'bananas': 12}
poll2 = {'apples': 6, 'bananas': 6, 'clementines': 8}
poll3 = []
poll4 = []
a = {}
poll3 = list (poll1.values())
poll4 = list (poll2)
# for k, v in poll1.items() and poll2.items():
#   a = poll1.get (k,[]) + poll2.get (k, [])
  
print(poll3, poll4) 

# DON'T KNOW HOW TO ADD UP?

# poll1_lis = list (poll1.items())
# poll2_lis = list (poll2.items())
# print (poll1_lis, poll2_lis)

# polls = poll1_lis + poll2_lis
# print (polls)
# shopping_list

[8, 12] ['apples', 'bananas', 'clementines']